body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #eee;
  font: 1rem -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #001f77;
}
.outer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.33333333333333%;
  margin: 0 0.833333333333333%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background: #eee;
}
.mobile-nav-on #wrap {
  left: 280px;
}
#sectionGrid {
  display: grid;
  margin: 10px;
  justify-items: stretch;
  aling-items: stretch;
  grid-template-columns: 24% 76%;
  grid-template-rows: auto auto 1fr;
}
@media screen and (min-width: 768px) {
  #sectionGrid {
    grid-gap: 20px 20px;
    margin: 20px;
  }
}
#sectionGrid #header {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
}
@media screen and (min-width: 768px) {
  #sectionGrid #header {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
}
#sectionGrid #sidebar {
  grid-column: 1/span 2;
  grid-row: 3/span 1;
}
@media screen and (min-width: 768px) {
  #sectionGrid #sidebar {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
}
#sectionGrid #article-toc {
  display: none;
}
@media screen and (min-width: 768px) {
  #sectionGrid #article-toc {
    display: block;
    -webkit-align-self: start;
    align-self: start;
    -ms-flex-item-align: start;
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
}
#sectionGrid #main {
  grid-column: 1/span 2;
  grid-row: 2/span 1;
}
@media screen and (min-width: 768px) {
  #sectionGrid #main {
    grid-column: 2/span 1;
    grid-row: 1/span 3;
  }
}
#article-toc h2,
.archive-year,
.widget-title {
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  margin-left: 5px;
  line-height: 1rem;
  font-weight: 600;
}
.article-inner,
.archive-article-inner {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.article-entry h1,
.widget h1 {
  font-size: 1.8rem;
}
.article-entry h2,
.widget h2 {
  font-size: 1.5rem;
}
.article-entry h3,
.widget h3 {
  font-size: 1.3rem;
}
.article-entry h4,
.widget h4 {
  font-size: 1.2rem;
}
.article-entry h5,
.widget h5 {
  font-size: 1rem;
}
.article-entry h6,
.widget h6 {
  font-size: 1rem;
  color: #666;
}
.article-entry hr,
.widget hr {
  border: 1px dashed #ddd;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5rem;
}
.article-entry sub,
.widget sub {
  bottom: -0.2rem;
}
.article-entry small,
.widget small {
  font-size: 0.85rem;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.6rem;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
#header {
  text-align: center;
  color: #333;
}
.photo-box {
  width: inherit;
  height: 160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid #fff;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
}
@media screen and (min-width: 768px) {
  .photo-box {
    height: 200px;
  }
}
.photo-box #profile-image {
  height: auto;
  width: 200%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  -moz-transition: -moz-transform 300ms ease-in-out;
  -ms-transition: -ms-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}
.photo-box #profile-image:hover {
  -webkit-transform: scale(0.96);
  -moz-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
}
@media screen and (min-width: 768px) {
  .photo-box #profile-image {
    height: 150%;
    width: auto;
  }
}
#titleAnchor {
  text-decoration: none;
}
#titleAnchor #site-title {
  margin: 16px auto;
  font-size: 1.4rem;
  font-weight: 400;
  color: #222;
}
#titleAnchor #site-title span.txtKr {
  font-family: 'Noto Serif KR', serif;
}
#titleAnchor #site-title span.txtEn {
  font-family: 'Roboto Slab', serif;
}
#titleAnchor #site-title:hover {
  -webkit-animation: SHIVER 200ms 1 ease-in;
  -moz-animation: SHIVER 200ms 1 ease-in;
  -ms-animation: SHIVER 200ms 1 ease-in;
  animation: SHIVER 200ms 1 ease-in;
}
@-moz-keyframes SHIVER {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
  }
  40% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  60% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(-1px);
    -moz-transform: translateX(-1px);
    -ms-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes SHIVER {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
  }
  40% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  60% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(-1px);
    -moz-transform: translateX(-1px);
    -ms-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-o-keyframes SHIVER {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
  }
  40% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  60% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(-1px);
    -moz-transform: translateX(-1px);
    -ms-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes SHIVER {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
  }
  40% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  60% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(-1px);
    -moz-transform: translateX(-1px);
    -ms-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
#site-description {
  width: 80%;
  margin: 0 auto;
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: #444;
}
nav#mini-links {
  width: 80%;
  margin: 16px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
nav#mini-links a {
  height: 1rem;
  margin: 0;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
nav#mini-links a:hover {
  opacity: 1;
}
nav#mini-links a a:hover {
  text-decoration: none;
}
nav#mini-links a.social-link {
  width: 1rem;
  padding: 20px 0;
  color: #001f77;
  font-family: FontAwesome;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 16px;
  margin-right: 20px;
}
nav#mini-links a#social-link-git:before {
  content: "\f113";
}
nav#mini-links a#social-link-email:before {
  content: "\f0e0";
}
nav#mini-links div.flex-right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: right;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
nav#mini-links div.flex-right a.page-link {
  margin-left: 20px;
}
.article {
  margin: 0 0 60px;
}
.article-inner {
  overflow: hidden;
}
.article-meta {
  margin: 20px;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-meta a {
  display: inline-block;
  height: 1rem;
  margin: 0;
  color: #001f77;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}
.article-meta a:hover {
  text-decoration: underline;
}
.article-meta a.article-date {
  color: #333;
}
.article-meta a.article-category-link {
  margin-right: 10px;
}
.article-meta time {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.article-category {
  display: inline-block;
  margin-left: 10px;
}
.article-header {
  padding: 0 20px;
  margin-bottom: 20px;
}
.article-title {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #001f77;
  margin-left: 0;
  -webkit-transition: margin-left 0.2s;
  -moz-transition: margin-left 0.2s;
  -ms-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
  cursor: pointer;
}
.article-title:hover {
  margin-left: 10px;
}
.article-title:before {
  content: "/ ";
}
.article-title:after {
  content: " /";
}
.article-entry {
  color: #333;
  padding: 0 20px;
  font-size: 0.9rem;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.6rem;
  margin: 1.6rem 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  margin: 1.6rem 0 1.4rem;
}
.article-entry a {
  color: #001f77;
  text-decoration: underline;
}
.article-entry a:hover {
  text-decoration: none;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5rem;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry blockquote {
  font-size: 1.2rem;
  color: #666;
  border-left: 5px solid #001f77;
  margin: 0;
  padding-left: 20px;
}
.article-entry blockquote footer {
  font-size: 1rem;
  margin: 1.6rem 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5rem;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.article-entry .pullquote.right {
  margin-right: 0.5rem;
  margin-left: 1rem;
}
.article-entry .caption {
  color: #666;
  display: block;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1rem;
  padding: 6px 15px;
  border-radius: 15px;
  background: #eee;
  color: #666;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #001f77;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #00195f;
}
.article-footer {
  font-size: 0.85rem;
  line-height: 1.6rem;
  border-top: 1px solid #ddd;
  padding-top: 1.6rem;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #666;
  text-decoration: none;
}
.article-footer a:hover {
  color: #333;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #ddd;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #333;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1rem;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85rem;
  line-height: 1.6rem;
  margin-top: 0.5rem;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0 15px;
  color: #333;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #eee;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 1.4rem;
  font-family: FontAwesome;
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.7rem;
  margin-left: -0.7rem;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
#article-toc {
  position: sticky;
  top: 0;
  padding-top: 24px;
  font-size: 0.9rem;
}
#article-toc h2 {
  color: #001f77;
  margin-bottom: 24px;
}
#article-toc li {
  letter-spacing: 1px;
}
#article-toc li ol.toc-child {
  margin-left: 16px;
}
#article-toc li a {
  display: block;
  padding: 8px 0 8px 16px;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  transition: opacity 200ms;
}
#article-toc li a:hover {
  opacity: 1;
}
#article-toc li.active > a {
  opacity: 1;
  border-left: 4px solid #001f77;
  margin-left: -4px;
}
#comments {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 50px 0;
}
#comments a {
  color: #001f77;
}
.archives-wrap {
  margin: 50px 0;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1rem;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .archives {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 768px) {
  .archives {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.archive-article-title:hover {
  color: #001f77;
}
.archive-article-footer {
  margin-top: 1rem;
}
.archive-article-date {
  color: #666;
  text-decoration: none;
  font-size: 0.85rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}
#page-nav {
  margin: 50px auto;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  color: #666;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #666;
  text-decoration: none;
}
#page-nav a:hover {
  background: #666;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #333;
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
#footer {
  background: #2d2d2d;
  padding: 40px 20px;
  border-top: 1px solid #ddd;
  color: #eee;
  text-align: right;
}
#footer-info {
  line-height: 1.6rem;
  font-size: 0.85rem;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 1.6rem;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85rem;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3rem;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85rem;
  color: #999;
  line-height: 1rem;
  margin-bottom: 1rem;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 1.6rem;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85rem -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1rem;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #001f77;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #191919;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #666;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
#nav-search-btn {
  color: #001f77;
  font-family: FontAwesome;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 12px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  transition: opacity 200ms;
}
#nav-search-btn:before {
  content: "\f002";
}
#nav-search-btn:hover {
  opacity: 1;
}
#search-form-wrap {
  position: relative;
  top: -26px;
  width: 100%;
  height: 30px;
  left: 100%;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#search-form-wrap.on {
  opacity: 1;
  left: 0;
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.search-form-input {
  border: none;
  background: none;
  color: #333;
  width: 100%;
  font: 13px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  font: 13px FontAwesome;
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}
.search-form-submit:hover,
.search-form-submit:focus {
  color: #777;
}
#sidebar {
  overflow: hidden;
}
.widget-wrap {
  width: 80%;
  padding: 0 0 20px 0;
  margin: 20px auto;
  text-align: left;
  font-size: 0.9rem;
}
.widget-wrap:first-child {
  text-align: right;
}
.widget-wrap:last-child {
  border-bottom: none;
}
.widget-title {
  color: #001f77;
  margin-left: 0;
}
.widget a {
  color: #001f77;
  text-decoration: none;
}
.widget a:hover {
  text-decoration: underline;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget li {
  padding: 2px 0;
  letter-spacing: 1px;
  opacity: 0.7;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  transition: opacity 200ms;
}
.widget li:hover {
  opacity: 1;
}
.widget li a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
}
.widget li a:hover {
  text-decoration: none;
}
.widget li.category-list-item {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 0 6px 6px 0;
  border: 1px solid #ddd;
  background-color: rgba(255,255,255,0.6);
  letter-spacing: 0;
}
.widget li.archive-list-item {
  font-size: 1.2rem;
}
.widget li.tag-list-item {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 0 6px 6px 0;
  border: 1px solid #ddd;
  background-color: rgba(255,255,255,0.6);
  letter-spacing: 0;
}
.widget li.recent-list-item {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-bottom: 0.4rem;
}
.widget li.recent-list-item:after {
  content: '•';
  margin-left: 0.2rem;
}
.widget {
  line-height: 1.6rem;
  word-wrap: break-word;
  font-size: 0.9rem;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #666;
  font-size: 0.85rem;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
