<div class="widget-wrap">
  <h2 class="widget-title">Search</h2>
  <div class="widget">
    <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
    <div id="search-form-wrap">
      <%- search_form({button: '&#xF002;'}) %>
    </div>
  </div>
</div>
