#footer
  background: color-footer-background
  padding: 40px 0
  border-top: 1px solid color-border
  color: color-grey
  text-align: right

#footer-info
  line-height: line-height
  font-size: 0.85em