#header
  text-align: center
  color: #333

.photo-box
  width: inherit
  height: 160px
  margin: 0 auto
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid #FFF
  overflow: hidden
  border-radius: 4px
  box-shadow: 1px 2px 3px #ddd

  @media mq-normal
    height: 200px

  #profile-image
    height: auto
    width: 200%
    transform-origin: 50% 50%
    transition: transform 300ms ease-in-out

    &:hover
      transform: scale(0.96)

    @media mq-normal
      height: 150%
      width: auto

#titleAnchor
  text-decoration: none

  #site-title
    margin: 16px auto
    font-size: 1.4rem
    font-weight: 400
    color: #222

    span.txtKr
      font-family: 'Noto Serif KR', serif

    span.txtEn
      font-family: 'Roboto Slab', serif

    &:hover
        animation: SHIVER 200ms 1 ease-in

    @keyframes SHIVER
      0%   {transform: translateX(0px)}
      20%   {transform: translateX(4px)}
      40%   {transform: translateX(-3px)}
      60%   {transform: translateX(2px)}
      80%   {transform: translateX(-1px)}
      100%   {transform: translateX(0px)}

#site-description
  width: 80%
  margin: 0 auto
  font-size: 0.8rem
  line-height: 1.4rem
  color: #444

nav#mini-links
  width: 80%
  margin: 16px auto
  display: flex
  flex-flow: row wrap
  justify-content: flex-start

  a
    height: font-size
    margin: 0
    color: #333
    font-size: font-size
    font-weight: 600
    letter-spacing: 1px
    text-decoration: none
    text-transform: uppercase
    text-shadow: 0 1px rgba(0, 0, 0, 0.2)
    text-align: center
    cursor: pointer
    opacity: 0.7
    transition: opacity 0.2s
    &:hover
      opacity: 1

    a:hover
      text-decoration: none

  a.social-link
    width: font-size
    padding: 20px 0
    color: color-accent
    font-family: font-icon
    font-size: 1.2rem
    font-weight: 300
    letter-spacing: 16px
    margin-right: 20px

  a#social-link-git
    &:before
      content: "\f113"

  a#social-link-email
    &:before
      content: "\f0e0"

  div.flex-right
    flex: 1 0 auto
    text-align: right
    align-self: center

    a.page-link
      margin-left: 20px 