#profile-box
  width: 100%
  text-align: center
  color: #333
  display: none

  @media mq-normal
    display: block

  .photo-box
    width: 100%
    height: 200px
    max-width: 400px
    margin: 0 auto
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF
    overflow: hidden

    #profile-image
      width: auto
      height: 150%
      transform-origin: 50% 50%
      transition: transform 300ms ease-in-out

      &:hover
        transform: scale(0.96)

  #titleAnchor
    text-decoration: none

    #site-title
      margin: 16px auto
      font-size: 1.4em
      font-weight: 400
      color: #222

      span.txtKr
        font-family: 'Noto Serif KR', serif

      span.txtEn
        font-family: 'Roboto Slab', serif

      &:hover
          animation: SHIVER 200ms 1 ease-in

      @keyframes SHIVER
        0%   {transform: translateX(0px)}
        20%   {transform: translateX(4px)}
        40%   {transform: translateX(-3px)}
        60%   {transform: translateX(2px)}
        80%   {transform: translateX(-1px)}
        100%   {transform: translateX(0px)}

  #site-description
    width: 80%
    max-width: 400px
    margin: 0 auto
    font-family: 'Noto Sans KR', sans-serif
    font-size: 1em
    line-height: 1.6em
    color: #444

  #social-links
    width: 80%
    max-width: 400px
    margin: 16px auto
    display: flex
    flex-flow: row wrap
    justify-content: flex-start

    li
      color: #333
      opacity: 0.7
      text-decoration: none
      text-shadow: 0 1px rgba(0, 0, 0, 0.2)
      transition: opacity 0.2s
      &:hover
        opacity: 1

    li a
      height: font-size
      margin: 0
      color: #333
      text-transform: uppercase
      font-size: font-size
      font-weight: 600
      letter-spacing: 1px
      text-decoration: none

      a:hover
        text-decoration: none
      
    li a.social-link
      @extend $nav-link
      color: color-accent
      font-weight: 300
      letter-spacing: 15px
      font-family: font-icon
      text-align: center
      font-size: 1.2em
      width: font-size
      height: font-size
      padding: 20px 15px
      position: relative
      cursor: pointer

    li a#social-link-git
      &:before
        content: "\f113"

    li a#social-link-email
      &:before
        content: "\f0e0"

    li.flex-right
      flex: 1 0 auto
      text-align: right
      align-self: center

      a
        padding: 20px 0